* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner {
  color: #FFFFFF;
  background-color: #0000A0;
  width: 580px;
  height: 400px;
}

@font-face {
  font-family: "Nordea Sans Large Bold";
  src: url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.eot");
  src: url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.woff") format("woff"), url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/095df2d8a2d98ea67750c993758df467.svg#Nordea Sans Large Bold") format("svg");
}

@font-face {
  font-family: "Nordea Sans Small";
  src: url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.eot");
  src: url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.woff") format("woff"), url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/22bbdd53424bef8a0c11fde5ed420f5f.svg#Nordea Sans Small") format("svg");
}

.banner__btn {
  font-family: "Nordea Sans Small", sans-serif;
  font-size: 10px;
  text-align: center;
  color: #0000A0;
  background-color: #FFFFFF;
  border: none;
  border-radius: 17px;
  position: absolute;
  top: 319px;
  left: 256px;
  width: 70px;
  height: 19px;
}

.banner__btn:hover {
  cursor: pointer;
  border-color: #FFE183;
  background-color: #FFE183;
}

.banner__cta {
  position: absolute;
  top: 256px;
  left: 72px;
  width: 436px;
  height: 60px;
}

.cta__headline {
  line-height: 30px;
  font-size: 22px;
  text-align: center;
  font-family: "Nordea Sans Large Bold", sans-serif;
  font-weight: 900;
}

.footer__img {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__info {
  position: absolute;
  top: 377px;
  left: 4px;
  width: 372px;
  height: 20px;
}

.info__text {
  font-size: 7px;
  font-family: "Nordea Sans Small", sans-serif;
  line-height: 10px;
  letter-spacing: 0px;
}

.img__bubble {
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
}

.tinRightIn {
  -webkit-animation-name: tinRightIn;
  animation-name: tinRightIn;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
}

@-webkit-keyframes tinRightIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateX(900%);
            transform: scale(1, 1) translateX(900%);
  }
  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateX(0);
            transform: scale(1.1, 1.1) translateX(0);
  }
  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
}

@keyframes tinRightIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(1, 1) translateX(900%);
            transform: scale(1, 1) translateX(900%);
  }
  50%, 70%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.1, 1.1) translateX(0);
            transform: scale(1.1, 1.1) translateX(0);
  }
  60%, 80%, 100% {
    opacity: 1;
    -webkit-transform: scale(1, 1) translateX(0);
            transform: scale(1, 1) translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */