.img__bubble {
  width: 180px;
  height: 183px;
}

.bubble-1 {
  top: 0px;
  left: 16px;
}

.bubble-2 {
  top: 9px;
  left: 16px;

}

.bubble-3 {
  top: 35px;
  left: 4px;
}

.bubble-4 {
  top: 0;
  left: 21px;

}

.tinRightIn {
  animation-name: tinRightIn;
  animation-duration: 1.2s;
}

@keyframes tinRightIn {
  0% {
    opacity: 0;
    transform: scale(1, 1) translateX(900%);
  }
  90% {
    opacity: 1;
    transform: scale(1.1, 1.1) translateX(0);
  }

  80%,
  100% {
    opacity: 1;
    transform: scale(1, 1) translateX(0);
  }
}
