.banner__btn {
    font-family: $nordea_small;
    font-size: 10px;
    text-align: center;
    color: $brand_color_main;
    background-color:$brand_color_light;
    border: none;
    border-radius: 17px;
    position: absolute;
    top: 319px;
    left: 256px;
    width: 70px;
    height: 19px;
    &:hover {
        cursor: pointer;
        border-color: $brand_color_highlight;
        background-color: $brand_color_highlight;
    }
}