.banner__cta {
    position: absolute;
    top: 256px;
    left: 72px;
    width: 436px;
    height: 60px;
}

.cta__headline {
    line-height: 30px;
    font-size: 22px;
    text-align: center;
    font-family: $nordea_large;
    font-weight: 900;
}