.img__headline {
    top: 259px;
    left: 92px;
    width: 396px;
    height: 54px;
}

.img__button {
    top: 319px;
    left: 256px;
    width: 70px;
    height: 19px;
}

.img__logo {
    top: 345px;
    left: 446px;
    width: 134px;
    height: 55px;
}

