// fonts
$nordea_small: "Nordea Sans Small", sans-serif;
$nordea_large: "Nordea Sans Large Bold", sans-serif;

//banner size
$banner_height: 400px;
$banner_width: 580px;

//colors
$brand_color_light: #FFFFFF;
$brand_color_main: #0000A0;
$brand_color_highlight: #FFE183;
$brand_color_dark: #000000;