* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    color: $brand_color_light;
    background-color: $brand_color_main;
    width: $banner_width;
    height: $banner_height;
    border: 1px solid #ffffff;
    * {
        position: absolute;
    }
}

