@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
    background-color: #fffaef;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1rem;
    .header-title {
        font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    }
}

// INTRODUCTION

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.intro__title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin-top: -2rem;
    margin-left: 1rem; 
    *{
        text-decoration: none;
        color: black;
        &:hover {
            color: rgb(58, 60, 223);
        }
    }

}

.banner {
    height: 700px;
    background-color: #ebebeb;
    position: relative;
    margin-top: 4rem;
    border-radius: 15px;
}

#lexus-line {
    width: 982px;
}

#nordea-fleet {
    width: 580px;
}

#nordea-video {
    width: 300px;
}

iframe {
    border: none;
    position: absolute;
}

.iframe__lexus-line {
    top: 175px;
}

.iframe__nordea-fleet {
    top: 120px;
}

.iframe__nordea-video {
    top: 50px;
}

// BANNER'S PRESENTATION

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__banner {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
}

.banner-fleet {
    .banner {
        height: 440px;
    }
    .iframe__nordea-fleet {
        top: 20px;
    }
}

.banner-lexus {
    .banner {
        height: 340px;
    }
    .iframe__lexus-line {
        top: 20px;
    }
}

.banner-video {
    .banner {
        height: 440px;
    }
    .iframe__nordea-video {
        top: 20px;
    }
}

.presentation-details {
    border-radius: 15px;
    border: 1px solid black;
    background-color: #fffbf2;
    margin-top: 2rem;
    width: 980px;
    padding: 1rem 2rem 2rem 2rem;
    font-family: 'Roboto Mono', monospace;
    line-height: 2rem;
    p {
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: normal;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        font-size: 1.7rem;
    }
    details {
        margin-bottom: 0.5rem;
    }
    details > summary {
        font-weight: 500;
    }
    ul {
        margin-left: 4rem;
        margin-bottom: 1rem;
    }
}

